<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <title>Title</title>
</head>
<body>
<div class="header">
    <h2 class="logo">Teacherbook</h2>
</div>
<div>
    <h2 style="color: black; font-weight: bold; font-size: 35px;">Password Reset</h2>
    <p>Fill in the fields to set a new password.</p>
    <form th:action="@{/password_reset/{id}/passwordResetConfirm(id=${user.getId()})}" method="post">
        <b>New Password</b>
        <br>
        <input type="password" placeholder="Enter Password" name="password" required/>
        <br>
        <b>Repeat New Password</b>
        <br>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required/>
        <div>
            <button type="submit">Set Password</button>
        </div>
    </form>
</div>
</body>
</html>